@import url(https://fonts.googleapis.com/css?family=Play);
@import url(poster.css);

body {
    background-color: rgb(240, 240, 240);
}
a {
    text-decoration: none;
}
a:link {
    color: blue;
    font-style: italic;
}
a:visited {
    color: blue;
    font-style: italic;
}
a:hover {
    color: rgb(142, 0, 114);
}
th {
    font-family: "Play";
    font-size: 30px;
    padding-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0px;
}
#content {
    position: absolute;
    width: 100%;
    top: -10px;
    left: 50%;
    margin-left: -50%;
}
.box {
    width: 1100px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    height: 100%;
}
.banner_div {
    margin-top: 00px;
    text-align: center;
}
.page_banner {
    border-radius: 10px;
}
.banner {
    border-radius: 5px;
}
#small_banner {
    margin-top: 40px;
    margin-bottom: 20px;
}
#source_banner {
    border: 2px solid;
    border-color: rgb(170, 170, 170);
}
#white_space {
    height: 30px;
}
#navi_bar {
    position: fixed;
    left: 0%;
    top: 10%;
}
.navi_options {
    width: 200px;
    height: 100px;
    margin-bottom: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(130, 213, 245);
}
.navi_options:hover {
    background-color: rgb(96, 181, 214);
}
#desc_box {
    width: 850px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
}
.text {
    font-size: 20px;
    font-family: "Play";
}
#legend {
    margin: auto;
    margin-top: -20px;
}
.symbol {
    text-align: center;
    font-weight: bold;
}
#mouse {
    background-image: url(https://googledrive.com/host/0B_EGAgtvNjo8MHlRNXlwYkE0SFE/);
    background-repeat: no-repeat;
    background-position: center;
}
#synopsis_list {
    margin: auto;
    width: 1000px;
}
.showcase_list {
    margin: auto;
    width: 1000px;
}
#synopsis_table {
    margin: auto;
    width: 1000px;
    table-layout: fixed;
}
.cover {
    height: 200px;
    width: 100px;
    padding-bottom: 30px;
}
.poster_link {
    display: block;
    width: 166px;
    height: 250px;
    margin: auto;
}
.poster {
    height: 250px;
    width: 166px;
    display: block;
    margin: auto;
    border-radius: 3px;
}
.poster_notes {
    font-size: 25px;
    font-weight: bold;
    font-family: "Play";
    text-align: center;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}
#edit_list_div {
    margin: auto;
    width: 800px;
    text-align: center;
}
.edit_list {
    margin-bottom: 8px;
    font-weight: bold;
}
li > a:link {
    color: rgb(114, 114, 114);
}
li > a:visited {
    color: rgb(114, 114, 114);
}
li > a:hover {
    color: black;
}
.image_table_wrapper {
    margin: auto;
    margin-top: 50px;
}
.image_table {
    margin: auto;
    width: 800px;
}
.image_row {
    height: 200px;
}
.banner_image {
    width: 800px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
}
.banner_source {
    padding-right: 798px;
    border-radius: 10px;
    padding-bottom: 91px;
    padding-top: 90px;
    background-color: rgba(0, 0, 0, .15);
}
.banner_source:hover {
    background-color: rgba(0, 0, 0, .04);;
}
#main_banner_source {
    background-image: url(https://googledrive.com/host/0B_EGAgtvNjo8c3N2YVdzZVBmTXc/);
}
#showcase_banner_source {
    background-position: right;
    background-image: url(https://googledrive.com/host/0B_EGAgtvNjo8M1lmU2ZKWlZTVzQ/);
}
#written_banner_source {
    background-position: right top;
    background-image: url(https://googledrive.com/host/0B_EGAgtvNjo8RW5HMHQ0N1gxdE0/);
}
#edit_banner_source {
    background-position: left;
    background-image: url(https://googledrive.com/host/0B_EGAgtvNjo8VXJoVTZZVXFoNjA/);
}
#sources_banner_source {
    background-position: 70% 20%;
    background-image: url(https://googledrive.com/host/0B_EGAgtvNjo8YUc5RWgxTUIzRVk/);
}
.table_whitespace {
    text-align: center;
    height: 30px;
    font-family: "Play";
    font-weight: bold;
    font-size: 20px;
}
.sidebar_image {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
#home_sidebar_source {
    background-size: 150%;
    background-image: url(https://googledrive.com/host/0B_EGAgtvNjo8dTdzckc3Vl92RFU/);
}
#SW_sidebar_source {
    background-position: top;
    background-image: url(https://googledrive.com/host/0B_EGAgtvNjo8bURPM1BZRjJZTzA/);
}
#SE_sidebar_source {
    background-size: 150%;
    background-position: top;
    background-image: url(https://googledrive.com/host/0B_EGAgtvNjo8dnZtRTBPVjR5Tmc/);
}
.sidebar_source {
    background-color: rgba(0, 0, 0, .15);
    padding-right: 240px;
    padding-bottom: 145px;
    padding-top: 142px;
    border-radius: 10px;
}
.sidebar_source:hover {
    background-color: rgba(0, 0, 0, .04);
}
.sidebar_whitespace {
    width: 30px;
}
#notes {
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: -30px;
    text-align: center;
}
#club_banner {
    margin-bottom: -20px;
}
.source_link {
    margin: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 400px;
    text-align: center;
}
#update {
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -20px;
}
