@import url(https://fonts.googleapis.com/css?family=Play);

body {
    background-color: rgb(240, 240, 240);
}
h1 {
    font-family: "Play";
}
a {
    text-decoration: none;
}
a:link {
    color: blue;
    font-style: italic;
}
a:visited {
    color: blue;
    font-style: italic;
}
a:hover {
    color: rgb(34, 0, 174);
}
#content {
    position: absolute;
    width: 100%;
    top: -10px;
    left: 50%;
    margin-left: -50%;
}
.box {
    width: 1100px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    height: 100%;
}
#header {
    font-size: 25px;
    text-align: center;
}
.banner_div {
    margin-top: 00px;
    text-align: center;
}
#small_banner {
    margin-top: 40px;
    margin-bottom: 20px;
}
.page_banner {
    border-radius: 10px;
}
.banner {
    border-radius: 5px;
}
#club_banner {
    margin-bottom: -20px;
}
#desc_box {
    width: 850px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
}
.text {
    font-size: 20px;
    font-family: "Play";
}
th {
    font-size: 24px;
}
#legend {
    margin: auto;
    margin-top: -20px;
}
.symbol {
    text-align: center;
    font-weight: bold;
}
#mouse {
    background-image: url(https://googledrive.com/host/0B_EGAgtvNjo8MHlRNXlwYkE0SFE/);
    background-repeat: no-repeat;
    background-position: center;
}
#navi_div {
    margin: auto;
    width: 466px;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0px;
}
#pages {
    margin: auto;
    margin-top: 40px;
    display: inline-block;
    height: 100px;
}
.navi_buttons {
    display: inline;
}
.navi {
    display: inline-block;
    text-align: center;
}
#navi_bar {
    position: fixed;
    left: 0%;
    top: 10%;
}
.navi_options {
    width: 200px;
    height: 100px;
    margin-bottom: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(130, 213, 245);
}
.navi_options:hover {
    background-color: rgb(96, 181, 214);
}
.navi_links {
}
#written {
    margin-right: 50px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(130, 213, 245);
}
#written:hover {
    background-color: rgb(96, 181, 214);
}
#edited {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(130, 213, 245);
}
#edited:hover {
    background-color: rgb(96, 181, 214);
}
#white_space {
    height: 30px;
}
#synopsis_list {
    margin: auto;
    width: 1000px;
}
#synopsis_table {
    margin: auto;
    width: 1000px;
    table-layout: fixed;
}
.cover {
    height: 200px;
    width: 100px;
    padding-bottom: 30px;
}
.poster {
    height: 250px;
    width: 166px;
    display: block;
    margin: auto;
    border-radius: 3px;
}
.title {
    font-size: 25px;
    font-weight: bold;
    font-family: "Play";
    text-align: center;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}
#edit_list_div {
    margin: auto;
    width: 800px;
    text-align: center;
}
.edit_list {
    margin-bottom: 8px;
    font-weight: bold;
}
li > a:link {
    color: rgb(114, 114, 114);
}
li > a:visited {
    color: rgb(114, 114, 114);
}
li > a:hover {
    color: black;
}
#update {
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: -20px;
}
th {
    font-family: "Play";
    font-size: 30px;
    padding-bottom: 20px;
}
.showcase_list {
    margin: auto;
    width: 1000px;
}
